{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            <h1 style="text-align: center;"><span style="color: black;">Blog</span></h1>

            {% csrf_token %}

            <h3>Login</h3>
            <hr>

            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Enter username" required>
            </div>

            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <p>Don't have an account? <a href="{% url 'register' %}">Register</a> </p>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}